<html>

<head>
    <style type="text/css">
        table {
            border-color: black !important;
        }

        .DataTable {
            page-break-inside: avoid !important;
        }
    </style>
</head>

<body style="padding-left: 10px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px;">
    <% var totalMarketValueForNonEquity = 0,  totalEligibilityForNonEquity = 0, totalOfTotalMarketValueForNonEquity = 0;
       var totalMarketValueForEquity = 0,  totalEligibilityForEquity = 0, totalOfTotalMarketValueForEquity = 0; %>
    <table border="3" width="1000px" rules="none">
        <tr>
            <td>
                <div style="padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px;"><img
                        src="<%= ABFLHeader %>" height="150px" width="1024px" /></div>
            </td>
        </tr>
        <tr>
            <td>
                <hr color="black" />
            </td>
        </tr>
        <tr>
            <td style="text-align: center; font-family: Verdana; font-size: 9.90pt;">
                <b> HOLDING REPORT </b>
            </td>
        </tr>
        <tr>
            <td>
                <hr color="black" />
            </td>
        </tr>

        <tr>
            <td style="padding-left: 10px; padding-right: 10px;">
                <table border="2.5" width="100%" class="DataTable" style="border-collapse: collapse; rules: none;">
                    <tr>
                        <td
                            style="text-align: left; padding-bottom: 30px; padding-top: 10px;padding-left: 3px;width: 20%; font-family: Verdana; font-size: 8.8pt;">
                            <b> Customer Name </b>
                        </td>
                        <td
                            style="text-align: left; padding-bottom: 30px; padding-top: 10px; padding-left: 10px;width: 40%; font-family: Verdana; font-size: 10.9pt;">
                            <%=  accInfoData[0].CUSTOMERNAME %></td>
                        <td
                            style="text-align: left; padding-bottom: 30px; padding-top: 10px;width: 20%;padding-left: 3px; font-family: Verdana; font-size: 8.8pt;">
                            <b> Product </b></td>
                        <td
                            style="text-align: left; padding-bottom: 30px; padding-top: 10px; padding-left: 10px;width: 20%; font-family: Verdana; font-size: 8.8pt;">
                            <%=  accInfoData[0].PRODUCTDESCRIPTION %></td>
            </td>
        </tr>
        <tr>
            <td
                style="padding-left: 3px; text-align:left;vertical-align: top;padding-top: 10px; font-family: Verdana; font-size: 8.8pt;">
                <b> CCC </b></td>
            <td
                style="text-align: left; padding-bottom: 20px; padding-top: 10px; padding-left: 10px; font-family: Verdana; font-size: 8.8pt;">
                <%=  accInfoData[0].CIF_NO %></td>
            </td>
            <td
                style="text-align: left; padding-bottom: 20px; padding-top: 10px; padding-left: 3px; vertical-align: top; font-family: Verdana; font-size: 8.8pt;">
                <b> Sanction Limit </b></td>
            <td
                style="text-align: right; padding-bottom: 20px; padding-top: 10px; padding-right: 10px; vertical-align: top; font-family: Verdana; font-size: 8.8pt;">
                <%= accInfoData[0].SANCTIONEDLIMIT ? accInfoData[0].SANCTIONEDLIMIT.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : accInfoData[0].SANCTIONEDLIMIT %>
        </tr>
        <tr>
            <td
                style="text-align: left; padding-bottom: 15px; padding-top: 15px;padding-left: 3px; font-family: Verdana; font-size: 8.8pt;">
                <b> Loan No/Facility ID </b></td>
            <td
                style="text-align: left; padding-bottom: 15px; padding-top: 15px; padding-left: 10px; font-family: Verdana; font-size: 8.8pt;">
                <%= accInfoData[0].AGREEMENTNO %>
            </td>
            <td
                style="text-align: left; padding-bottom: 15px; padding-top: 15px; padding-left: 3px; font-family: Verdana; font-size: 8.8pt;">
                <b> RM Name </b></td>
            <td
                style="text-align: left; padding-bottom: 15px; padding-top: 15px; padding-right: 10px; padding-left: 10px; font-family: Verdana; font-size: 8.8pt;">
                <%= accInfoData[0].RM_NAME %>
            </td>
        </tr>
    </table>
    </td>
    </tr>

    <% if(reportDataForEquity.length) { %>
    <tr>
        <td style="padding-left: 10px; padding-right: 10px; padding-top:10px;">
            <p><b> Equity Based Collateral </b> </p>
            <table border="2.5" width="100%" class="DataTable"
                style="border-collapse: collapse; rules: none; font-family: Verdana; padding-top: 20px;">
                <tr class="DataTable" style="font-size: 8.3pt; font-family: Verdana;">
                    <th width="11.11%"
                        style="text-align: left; padding-bottom: 3px; padding-right: 8px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Collateral Id
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 20px; padding-top: 3px; border: 2px solid black; vertical-align: top; padding-left: 10px; padding-right: 10px;">
                        Scrip Name </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        ISIN </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; padding-left: 15px; padding-right: 15px; border: 2px solid black; vertical-align: top;">
                        PSN
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Category
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top; padding-left: 10px; padding-right: 10px;">
                        Qty
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top; padding-left: 5px; padding-right: 5px;">
                        CMP
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; padding-left: 15px; padding-right: 15px; border: 2px solid black; vertical-align: top;">
                        Valuation Method
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Market Value
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Margin %
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Eligibility
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Eligibility after concentration
                    </th>
                </tr>

                <%      for(var i = 0; i < reportDataForEquity.length; i++) { 
                            totalMarketValueForEquity += parseFloat(reportDataForEquity[i].MARKETVALUE);
                            totalEligibilityForEquity += reportDataForEquity[i].ELIGIBILITY;
						%>

                <tr class="DataTable" style="border: 2px solid black; font-family: Verdana; font-size: 7.7pt;">
                    <td class="DataTable"
                        style="text-align: center; padding-bottom: 10px; border: 2px solid black; padding-top: 3px; vertical-align: top;">
                        <%= reportDataForEquity[i].LAC_COLLATERAL_ID_C %> </td>
                    <td class="DataTable"
                        style="padding-bottom: 10px; border: 2px solid black; text-align: left; padding-top: 3px; vertical-align: top;">
                        <%= reportDataForEquity[i].SCRIPDESC %> </td>
                    <td class="DataTable"
                        style="border: 2px solid black; text-align: center; padding-top: 3px; padding-right: 10px; vertical-align: top; padding-bottom: 10px;">
                        <%= reportDataForEquity[i].ISIN_NO %> </td>
                    <td class="DataTable"
                        style="padding-bottom: 10px; text-align: center; border: 2px solid black; vertical-align: top; padding-top: 3px; padding-right: 5px;">
                        <%= reportDataForEquity[i].PSN %>
                    </td>
                    <td class="DataTable"
                        style="padding-bottom: 10px; text-align: left; border: 2px solid black; padding-right: 5px; padding-top: 3px; vertical-align: top;">
                        <%= reportDataForEquity[i].SCRIPTCATEGORY %> </td>
                    <td class="DataTable"
                        style="padding-bottom: 10px; text-align: right; border: 2px solid black; padding-top: 3px; vertical-align: top; padding-right: 5px;">
                        <%= reportDataForEquity[i].QUANTITY ? reportDataForEquity[i].QUANTITY.toLocaleString('en-IN',  {minimumFractionDigits: 4, maximumFractionDigits: 4}) : reportDataForEquity[i].QUANTITY %>
                    </td>
        </td>
        <td class="DataTable"
            style="padding-bottom: 10px; text-align: right; border: 2px solid black; padding-top: 3px; vertical-align: top; padding-right: 5px;">
            <%= reportDataForEquity[i].CMP ? reportDataForEquity[i].CMP.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : reportDataForEquity[i].CMP %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 10px; text-align: left; border: 2px solid black; padding-top: 3px; vertical-align: top; padding-right: 5px;">
            <%= reportDataForEquity[i].RATE_TYPE %> </td>
        <td class="DataTable"
            style="padding-bottom: 10px; text-align: right; border: 2px solid black; padding-top: 3px; vertical-align: top; padding-right: 5px;">
            <%= reportDataForEquity[i].MARKETVALUE ? reportDataForEquity[i].MARKETVALUE.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : reportDataForEquity[i].MARKETVALUE %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 10px; text-align: right; border: 2px solid black; padding-top: 3px; vertical-align: top; padding-right: 5px;">
            <%= reportDataForEquity[i].MARGIN ? reportDataForEquity[i].MARGIN.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : reportDataForEquity[i].MARGIN %>
            % </td>
        <td class="DataTable"
            style="padding-bottom: 10px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 3px; vertical-align: top;">
            <%= reportDataForEquity[i].ELIGIBILITY ? reportDataForEquity[i].ELIGIBILITY.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : reportDataForEquity[i].ELIGIBILITY %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 10px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 3px; vertical-align: top;">
            <%= reportDataForEquity[i].TOTALMARKETVALUE ? reportDataForEquity[i].TOTALMARKETVALUE.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : reportDataForEquity[i].TOTALMARKETVALUE %>
        </td>
    </tr>

    <% } %>

    <tr class="DataTable" style="border: 2px solid black; font-family: Verdana; font-size: 7.7pt;">
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: center; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
            <b>Total</b></td>
        <td class="DataTable"
            style="border: 2px solid black; text-align: left; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; text-align: left; border: 2px solid black; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; text-align: right; border: 2px solid black; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; text-align: right; border: 2px solid black; padding-top: 10px; vertical-align: top; padding-bottom: 10px; padding-right: 5px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; text-align: right; border: 2px solid black; padding-top: 10px; vertical-align: top; padding-bottom: 10px; padding-right: 5px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; text-align: right; border: 2px solid black; padding-top: 10px; vertical-align: top; padding-bottom: 10px; padding-right: 5px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
            <%= totalMarketValueForEquity ? totalMarketValueForEquity.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : totalMarketValueForEquity %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
            <%= totalEligibilityForEquity ? totalEligibilityForEquity.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : totalEligibilityForEquity %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
            <%= totalOfTotalMarketValueForEquity ? totalOfTotalMarketValueForEquity.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : totalOfTotalMarketValueForEquity %>
        </td>
    </tr>
    </table>
    </td>
    </tr>
    <% } %>

    <% if(reportDataForNonEquity.length) { %>
    <tr>
        <td style="padding-left: 10px; padding-right: 10px; padding-top:10px;">
            <p><b> Equity Based Collateral </b> </p>
            <table border="2.5" width="100%" class="DataTable"
                style="border-collapse: collapse; rules: none; font-family: Verdana; padding-top: 20px;">
                <tr class="DataTable" style="font-size: 8.3pt; font-family: Verdana;">
                    <th width="11.11%"
                        style="text-align: left; padding-bottom: 3px; padding-right: 8px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Collateral Id
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 20px; padding-top: 3px; border: 2px solid black; vertical-align: top; padding-left: 10px; padding-right: 10px;">
                        Scrip Name </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        ISIN </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; padding-left: 15px; padding-right: 15px; border: 2px solid black; vertical-align: top;">
                        PSN
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Category
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top; padding-left: 10px; padding-right: 10px;">
                        Qty
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top; padding-left: 5px; padding-right: 5px;">
                        CMP
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; padding-left: 15px; padding-right: 15px; border: 2px solid black; vertical-align: top;">
                        Valuation Method
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Market Value
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Margin %
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Eligibility
                    </th>
                    <th width="11.11%"
                        style="text-align: center; padding-bottom: 3px; padding-top: 3px; border: 2px solid black; vertical-align: top;">
                        Eligibility after concentration
                    </th>
                </tr>

                <%      for(var i = 0; i < reportDataForNonEquity.length; i++) { 
                                totalMarketValueForEquity += parseFloat(reportDataForNonEquity[i].MARKETVALUE);
                                totalEligibilityForEquity += reportDataForNonEquity[i].ELIGIBILITY;
                            %>

                <tr class="DataTable" style="border: 2px solid black; font-family: Verdana; font-size: 7.7pt;">
                    <td class="DataTable"
                        style="text-align: center; padding-bottom: 10px; border: 2px solid black; padding-top: 3px; vertical-align: top;">
                        <%= reportDataForNonEquity[i].LAC_COLLATERAL_ID_C %> </td>
                    <td class="DataTable"
                        style="padding-bottom: 10px; border: 2px solid black; text-align: left; padding-top: 3px; vertical-align: top;">
                        <%= reportDataForNonEquity[i].SCRIPDESC %> </td>
                    <td class="DataTable"
                        style="border: 2px solid black; text-align: center; padding-top: 3px; padding-right: 10px; vertical-align: top; padding-bottom: 10px;">
                        <%= reportDataForNonEquity[i].ISIN_NO %> </td>
                    <td class="DataTable"
                        style="padding-bottom: 10px; text-align: center; border: 2px solid black; vertical-align: top; padding-top: 3px; padding-right: 5px;">
                        <%= reportDataForNonEquity[i].PSN %>
                    </td>
                    <td class="DataTable"
                        style="padding-bottom: 10px; text-align: left; border: 2px solid black; padding-right: 5px; padding-top: 3px; vertical-align: top;">
                        <%= reportDataForNonEquity[i].SCRIPTCATEGORY %> </td>
                    < class="DataTable"
                        style="padding-bottom: 10px; text-align: right; border: 2px solid black; padding-top: 3px; vertical-align: top; padding-right: 5px;">
                        <%= reportDataForNonEquity[i].QUANTITY ? reportDataForNonEquity[i].QUANTITY.toLocaleString('en-IN',  {minimumFractionDigits: 4, maximumFractionDigits: 4}) : reportDataForNonEquity[i].QUANTITY %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 10px; text-align: right; border: 2px solid black; padding-top: 3px; vertical-align: top; padding-right: 5px;">
            <%= reportDataForNonEquity[i].CMP ? reportDataForNonEquity[i].CMP.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : reportDataForNonEquity[i].CMP %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 10px; text-align: left; border: 2px solid black; padding-top: 3px; vertical-align: top; padding-right: 5px;">
            <%= reportDataForNonEquity[i].RATE_TYPE %> </td>
        <td class="DataTable"
            style="padding-bottom: 10px; text-align: right; border: 2px solid black; padding-top: 3px; vertical-align: top; padding-right: 5px;">
            <%= reportDataForNonEquity[i].MARKETVALUE ? reportDataForNonEquity[i].MARKETVALUE.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : reportDataForNonEquity[i].MARKETVALUE %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 10px; text-align: right; border: 2px solid black; padding-top: 3px; vertical-align: top; padding-right: 5px;">
            <%= reportDataForNonEquity[i].MARGIN ? reportDataForNonEquity[i].MARGIN.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : reportDataForNonEquity[i].MARGIN %>
            % </td>
        <td class="DataTable"
            style="padding-bottom: 10px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 3px; vertical-align: top;">
            <%= reportDataForNonEquity[i].ELIGIBILITY ? reportDataForNonEquity[i].ELIGIBILITY.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : reportDataForNonEquity[i].ELIGIBILITY %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 10px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 3px; vertical-align: top;">
            <%= reportDataForNonEquity[i].TOTALMARKETVALUE ? reportDataForEquity[i].TOTALMARKETVALUE.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : reportDataForEquity[i].TOTALMARKETVALUE %>
        </td>
    </tr>

    <% } %>

    <tr class="DataTable" style="border: 2px solid black; font-family: Verdana; font-size: 7.7pt;">
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: center; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
            <b>Total</b></td>
        <td class="DataTable"
            style="border: 2px solid black; text-align: left; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; text-align: left; border: 2px solid black; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; text-align: right; border: 2px solid black; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; text-align: right; border: 2px solid black; padding-top: 10px; vertical-align: top; padding-bottom: 10px; padding-right: 5px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; text-align: right; border: 2px solid black; padding-top: 10px; vertical-align: top; padding-bottom: 10px; padding-right: 5px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; text-align: right; border: 2px solid black; padding-top: 10px; vertical-align: top; padding-bottom: 10px; padding-right: 5px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
            <%= totalMarketValueForNonEquity ? totalMarketValueForNonEquity.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : totalMarketValueForNonEquity %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
            <%= totalEligibilityForNonEquity ? totalEligibilityForNonEquity.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : totalEligibilityForNonEquity %>
        </td>
        <td class="DataTable"
            style="padding-bottom: 5px; border: 2px solid black; text-align: right; padding-right: 5px; padding-top: 10px; vertical-align: top; padding-bottom: 10px;">
            <%= totalOfTotalMarketValueForNonEquity ? totalOfTotalMarketValueForNonEquity.toLocaleString('en-IN',  {minimumFractionDigits: 2, maximumFractionDigits: 2}) : totalOfTotalMarketValueForNonEquity %>
        </td>
    </tr>
    </table>
    </td>
    </tr>
    <% } %>

    <tr>
        <td style="padding-top: 300px;">
            <hr color="black" />
        </td>
    </tr>
    <tr>
        <td>
            <div style="padding-bottom: 50px;"><img src="<%= ABFLFooter %>" height="150px" width="100%" /></div>
        </td>
    </tr>
    </table>
</body>

</html>